streamlit
python-dotenv
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
pymupdf
pinecone
langchain-pinecone
langchain-groq
yt-dlp>=2026.01.01
faster-whisper
rank-bm25
pydantic
beautifulsoup4
aiohttp
serpapi
requests