streamlit
python-dotenv
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
pymupdf
pinecone
langchain-pinecone
langchain-groq
yt-dlp
faster-whisper
rank-bm25
pydantic